.admin_form_width{
  border:solid 1px gray ;
  width: 50%;
  height: 50%;
  padding: 10px;
  border-radius: 5px;
  float: none;
  margin-left: auto;
  margin-right: auto
}

img.category_img_style{
  width: 300px;
  height: auto;
  padding: 0px;
  margin: 0 auto;
}